.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

.section-suptitle {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "DM Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.header-section {
  margin-top: 6px;
  background-color: transparent;
}

.header-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  max-width: 480px;
  background-color: #e17992;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.mobile-modal-menu__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-modal-menu__item {
  border-top: 1px solid #e18298;
  padding: 14px 0;
}

.mobile-modal-menu__item:last-child {
  border-bottom: 1px solid #e18298;
}

.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mobile-burger-btn {
  background-color: transparent;
  border: none;
}

.mobile-modal-menu__close-btn {
  border: none;
  background-color: transparent;
}

.mobile-modal-menu__btn {
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */